<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%highlight{[%-5level] %d{HH:mm:ss.SSS} [%t] %c{1}: %msg%n%throwable}"/>
    </Console>
  </Appenders>
  <Loggers>
    <Logger name="ar.com.sac.observer.Monitor" level="ALL" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="ar.com.sac.subject.Sensor" level="ALL" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="ar.com.sac.CommandLineRunnerImpl" level="ALL" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="ar.com.sac.controller.MonitorController" level="ALL" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Root level="error">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>